*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body { 
  color: #fff;
  background-color: #1D2020;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

/*header*/

.nav {
    padding: 5px;
    width: 100%;
}
.nav a{
    font-size: 35px;
    color: #fff;
    text-decoration: none; 
    padding-left: 15px;
}
.nav a .logo {
    font-weight: bold;
}
.nav a.logo span{
    color: rgba(27, 224, 250, 0.744);
    font-size: 40px;
    font-weight: bold;
}
.nav-right {
    float: right;
}
.nav-right a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 17px 12px 0px 0px;
    text-decoration: none;
    font-size: 25px; 
    line-height: 25px;
    border-radius: 4px;
    justify-content: space-between;
}
.nav-tab-links{
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}
.nav-tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgba(27, 224, 250, 0.744);;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.nav-tab-links:hover::after{
    width: 85%;
}
.side-box .fa-solid{
    display: none;
}

/*full*/

.full{
    padding-left: 30px;
    padding-right: 30px;
}

/*home*/

.container-home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    margin-top: 145px;
    margin-bottom: 160px;
}
.home-col-1{
    flex: 30%;
}
.home-col-1 img{
    width: 430px;
    height: 430px;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.home-text{
    padding-top: 100px;
    flex: 30%;
}
.home-text h5{
    font-size: 42px;
    font-weight: bold;
    padding: 8px;
}
.home-text h5 span{
    color: rgba(27, 224, 250, 0.744);
    font-weight: bolder;
}
.btn{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 3px;
    padding: 12px 6px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #1D201F;
    border: 2.5px solid #299DA3;
    transition: 0.5s;
    text-align: center;
    font-size: 28px;
}
.btn.btn2{
    display: block;
    cursor: pointer;
    width: fit-content;
    justify-content: center;
}
.btn:hover{
    background-color: #299DA3;
    color: #080808;
}

/*about*/

.section{
    padding-top: 40px;
    padding-bottom: 75px;
}
.section__title{
    margin-bottom: 40px;
    font-size: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}
.education{
    flex: 5px;
    width: fit-content;
    margin: auto;
}
.experience{
    flex: 30%;
    width: fit-content;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    text-align: justify;
}
.about__title{ 
    margin-bottom: 30px;
    color: rgba(27, 224, 250);
}
.timeline__item{
    position: relative;
    padding-left: 15px;
    margin-bottom: 50px;
}
.timeline__item::before{
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(27, 224, 250);
}
.circle__dot{
    position: absolute;
    left: -10px;
    top: 0;
    height: 20px;
    width: 20px;
    border: 2px solid rgba(27, 224, 250);
    border-radius: 50%;
    background-color: rgba(27, 224, 250);
    transition: .5s;
}
.timeline__item:hover .circle__dot{
    background-color: #1D2020;
}
.timeline__title{
    margin-bottom: 10px;
}
.timeline__text{
    margin-bottom: 20px;
}
.timeline__date{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: rgba(27, 224, 250, 0.744);
}

/*contact*/

.contact{
    display: block;
}
.social-icons{
    display: block;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
} 
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    transition: transform 0.5s;
    padding: 0;
    color: #fff;
}
.social-icons a:hover{
    color: rgba(38, 167, 184, 0.744);
    transform: translateY(-5px);
}
.copyright p{
    font-size: 10px;
    text-align: center;
}

/* responsivess */



@media screen and (max-width: 1030px) {

    /*home*/

    .home{
        flex: 30%;
    }
    .container-home{
        margin-top: 90px;
        margin-bottom: 95px;
    }
    .home-col-1 img{
        width: 350px;
        height: 350px;
    }
    .home-text{
        flex: 30%;
    }
    .home-text h5{
        font-size: 38px;
    }
    .btn{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 825px) {

    /*home*/

    .home-col-1 img{
        width: 350px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .home-text{
        flex: 40%;
        text-align: center;
        padding-top: 100px;
    }
    .home-text h5{
        font-size: 35px;
    }
    .btn{
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
    }

    /*about*/

    .flex{
        display: block;
    }
    .experience{
        margin-bottom: 30px;
    }
    .about__title{ 
        text-align: center;
    }

}

@media screen and (max-width: 780px) {

    /*full*/

    .full{
        margin-top: 0px;
    }

    /*home*/

    .container-home{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .home-col-1 img {
        width: 335px;
        height: 335px;
    }
    .home-text{
        padding-top: 70px;
    }
    .home-text h5{
        text-align: center;
        font-size: 25px;
    }     
    .btn{
        font-size: 22px;
    }

}

@media screen and (max-width: 545px) {
    
    /*header*/

    .nav{
        padding-top: 10px;
    }
    .nav-right a {
        display: block;
        float: none;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-tab-links:hover::after{
        width: 90%;
    }
    .fa-bars,.fa-square-xmark{
        display: block;
        font-size: 25px;
    }
    .side-box-inner{
        position: fixed;
        top: 0;
        right: -200px;
        width: 180px;
        height: 100vh;
        padding-top: 50px;
        background-color: #1D2020;
        z-index: 10;
    }
    .side-box .fa-solid{
        float: right;
        display: block;
        margin-right: 15px;
        margin-top: 15px;
    }
    .side-box-inner .fa-sharp{
        position: absolute;
        top: 20px;
        left: 10px;
        cursor: pointer;
        margin: 0;
    }

    /*home*/

    .container-home{
        margin-top: 120px;
        margin-bottom: 135px;
    }
    .home-col-1 img {
        width: 315px;
        height: 315px;
    }
    .home-text{
        padding-top: 30px;
    }     
    .btn{
        font-size: 22px;
    }

    /*about*/

    .education{
        margin-left: 30px;
        margin-right: 30px;
    }
    .experience{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 420px) {

    /*home*/

    .container-home{
        margin-top: 125px;
        margin-bottom: 140px;
    }     

}

@media screen and (max-width: 380px) {

    /*home*/
    
    .container-home{
        margin-top: 85px;
        margin-bottom: 80px;
    }     
    
}