/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */

:root{
    --primary-color: #fff;
    --secondary-color: #1D2020;
    --title-secondary-color: #1D2020;
    --text-secondary-color: #1D2020;   
    --blog-color-description: #484646;
    --hole-bg-color: #fff;
    --achivement-color: #7f7e7e;
    --achivement-bg-color: #f5f5f5;
    --achive-bg-color: #e0cbcb;
    --activity-color: #b08c8c;
}
.light-theme{
    --primary-color: #1e1e1e;
    --secondary-color: #fff;
    --title-secondary-color: #ece8e8;
    --text-secondary-color: #ded2d2;
    --blog-color-description: #b8b6b6;
    --hole-bg-color: #1D2020;
    --achivement-color: #7f7e7e;
    --achivement-bg-color: #1D2020;
    --achive-bg-color: rgb(108, 78, 84);
    --activity-color: #deb1b1;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
    background:rgb(155, 155, 155);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* similar content */

section{
    padding: 100px 0;
    background: var(--hole-bg-color);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .achievements, .skills, .work, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.achievements .achieve-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-secondary-color);
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 170px;
    height: 3px;
    background: var(--secondary-color);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--title-secondary-color);
    padding: 0 5px;
    background: var(--primary-color);
    transform: translateX(-50%);
}

/* navbar */

nav{
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 99;
    background-color: var(--hole-bg-color);
    /* border-bottom: 1px solid #1e1e1e; */
    font-family: 'Cormorant Garamond';
}
nav .logo{
    display: block;
    float: left;
}
nav .logo p{
    margin: 0;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondary-color);
}
nav ul{
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    margin: 0 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondary-color);
    font-size: 1.4rem;
    text-decoration: none;
}
nav ul li:hover a{
    color: crimson;
}
li .fa-sun{
    display: none;
}
nav .fa-bars{
    display: none;
}
li .show{
    display: block;
}
li .hide{
    display: none;
}
nav i{
    color: var(--secondary-color);
}

/* scroll */

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--secondary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--primary-color);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* home section */

.home{
    display: flex;
    background: url("image/bg\ 3.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 35px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 45px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:white;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: white;
    color: black;
    font-size: 20px;
    padding: 8px 15px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}
.home .home-content a:hover{
    color: #fff;
    background: none;
}

/* about section */

.about .title::after{
    content: "who I am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--secondary-color)
}
.about .about-content .right .text span{
    color: black;
}
.about .about-content .right p{
    color: var(--text-secondary-color);
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: lightgrey;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}
.likes{
    font-size: 22px;
    font-weight: 500;
    margin: 5px 0 5px 0;
    display: block;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color:black;
}
.letsThing{
    font-size: 22px;
    font-weight: 500;
    color:black;
}
.about .about-content .right a:hover{
    color: black;
    background: none;
    border-color: black
}

/* achievements section */

.achievements, .work{
    color: var(--secondary-color);
}
.achievements .title::before,
.work .title::before{
    width: 220px;
}
.achievements .title::after,
.work .title::after{
    background: var(--primary-color);
    content: "what I've done";
}
.achievements .achieve-content .card{
    width: calc(33% - 20px);
    background-color: transparent;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    background-color: var(--achivement-bg-color);
    border: 1px ridge var(--achivement-color);
}
.achievements .achieve-content .card:hover{
    background: var(--achive-bg-color);
}
.achievements .achieve-content .card .box{
    transition: all 0.3s ease;
}
.achievements .achieve-content .card:hover .box{
    transform: scale(1.05);
}
.achievements .achieve-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.achievements .achieve-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: var(--secondary-color);
}

/* blog */

.feature{
    color: var(--secondary-color);
}
.feature .title::before{
    width: 175px;
}
.feature .title::after{
    background: var(--primary-color);
    content: "how I've shape";
    font-size: 18px;
    color: var(--secondary-color);
}
.wrapper{
    display: flex;
    max-width: 1080px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.wrapper .carousel{
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging .sheet{
    pointer-events: none;
}
.carousel .sheet{
    object-fit: cover;
}
.carousel .sheet:first-child{
    margin-left: 0px;
}
.sheet-wrapper{
    display: flex;
    column-gap: 25px;
}
.sheet{
    min-width: 300px;
    height: 338px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px #707070 solid;
    transition: all 0.3s ease;
}
.sheet:hover{
    background-color: var(--activity-color);
    color: #1D2020;
    transform: scale(1.05);
    border-radius: 0px;
    border: none;
}
.description span a:hover{
    color: #1D2020;
}
.sheet .sheet-content, .sheet .image-content{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    position: relative;
}
.image-content{
    position: relative;
}
.sheet-image img{
    margin: 17px 0 15px 0;
    min-width: 300px;    
    height: 180px;
}
.name{
    font-size: 16px;
    font-weight: 500;
    margin: 23px 10px 0px 25px;
}
.description{
    font-size: 14.5px;
    margin: 0 20px 0 25px;
}
.description span a{
    color: var(--blog-color-description);
    text-decoration: none;
    font-weight: 500;
}

/* skills section styling 

.skills .title::after{
    content: "what I know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background:lightgrey;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}
.skills .skills-content .left a:hover{
    color: black;
    background: none;
    border-color: black;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
}
.otherSkills{
    font-size: large;
    color: black;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 70%;
}
.skills-content .right .react::before{
    width: 70%;
}
.skills-content .right .nodejs::before{
    width: 70%;
}

work section styling 

.work .title::after{
    content: "few of my works";
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    justify-items: center;
}
.work .grid-container .card{
    height: 420px;
    background:whitesmoke;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.work .grid-container .card:hover{
    background: lightgrey;
}
.work .grid-container .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.work .grid-container .card:hover .box{
    transform: scale(1.05);
}
.work .grid-container .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.techUsed{
    color: grey;
}
.PLink,.PGit{
    height: 40px !important;
    width: 40px !important;
    border: none !important;
}
.work .grid-container .card img{
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid lightblue;
    transition: all 0.3s ease;
    
}
.work .grid-container .card:hover img{
    border-color: #fff;
}*/


/* contact section styling */

.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-secondary-color);
}
.contact .contact-content .left p{
    font-size: 19px;
    text-align: justify;
    color: var(--text-secondary-color);
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
    margin-top: -55px;
}
.contact .contact-content .row .info-right{
    margin-left: 45px;
    margin-top: -44px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--text-secondary-color);
}
.contact .contact-content .info .head{
    font-weight: 500;
    margin-top: 8px;
    text-decoration: none;
    color: var(--text-secondary-color);
}
.contact .contact-content .info-right a{
    text-decoration:none;
    color: var(--text-secondary-color);
}
.contact .contact-content .info .sub-title{
    color: var(--text-secondary-color);
}
.linkedInImg,.gmailImg{
    height: 40px;
    width: 40px;
}

/* footer section styling */

footer{
    background: var(--hole-bg-color);
    padding: 15px 23px;
    color: var(--secondary-color);
    text-align: center;
}
footer span {
    color: var(--secondary-color);
    text-decoration: none;
}
footer span a{
    color: var(--secondary-color);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    /*.menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }*/

    nav{
        min-height: 55px;
    }
    nav .fa-bars{
        display: block;
    }
    nav .logo p{
        font-size: 1.7rem;
    }
    nav ul{
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--hole-bg-color);
        border-bottom: 1px solid var(--secondary-color);
        height: 390px;
        opacity: 0;
        transition: .6s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        padding: 10px 0;
        margin-left: 20px;
        border-bottom: 2px solid var(--primary-color);
        width: 95%;
    }
    nav ul li:last-child{
        border: none;
    }
    nav li .fa-sun, nav li .fa-moon{
        margin-left: 20px;
    }
    nav .showmenu{
        opacity: 1;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .right .text{
        text-align: center;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .achievements .achieve-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 28px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .achievements .achieve-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    section .title{
        font-size: 37px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .about .about-content .right .likes {
        text-align: center;
    }
    .likes,.letsThing{
        font-size: 19px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
}
